@{
    ViewBag.Title = "All items";
}

<h2>@ViewBag.Title</h2>


@if (TempData.ContainsKey("message"))
{
    <p class="alert alert-info" role="alert">@ViewBag.message</p>
}

@if (User.IsInRole("Administrator") || User.IsInRole("Collaborator"))
{
    <a class="btn btn-success" style="margin-bottom: 40px;" href="/Items/New">Add item</a>
}

@foreach (Damag.Models.Item item in ViewBag.Items)
{
    @Html.Partial("ItemSummary", item)
}
